In [1]:
import pandas as pd

In [5]:
matches = pd.read_csv('match_data.csv', index_col=0)

In [6]:
matches.head()

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
1,2021-08-15,16:30,Premier League,Matchweek 1,Sun,Away,L,0,1,Tottenham,...,Match Report,NaN,18.0,4.0,16.9,1.0,0.0,0.0,2022,Manchester City
2,2021-08-21,15:00,Premier League,Matchweek 2,Sat,Home,W,5,0,Norwich City,...,Match Report,NaN,16.0,4.0,17.3,1.0,0.0,0.0,2022,Manchester City
3,2021-08-28,12:30,Premier League,Matchweek 3,Sat,Home,W,5,0,Arsenal,...,Match Report,NaN,25.0,10.0,14.3,0.0,0.0,0.0,2022,Manchester City
4,2021-09-11,15:00,Premier League,Matchweek 4,Sat,Away,W,1,0,Leicester City,...,Match Report,NaN,25.0,8.0,14.0,0.0,0.0,0.0,2022,Manchester City
6,2021-09-18,15:00,Premier League,Matchweek 5,Sat,Home,D,0,0,Southampton,...,Match Report,NaN,16.0,1.0,15.7,1.0,0.0,0.0,2022,Manchester City

In [7]:
#Total number of games 
38*20*2

1520

In [8]:
matches.shape

(1520, 27)

In [9]:
#Number of games matches shape of dataframe

In [11]:
matches["team"].value_counts()

Arsenal                     76
Wolverhampton Wanderers     76
Everton                     76
Aston Villa                 76
Leeds United                76
Chelsea                     76
Manchester United           76
Burnley                     76
Newcastle United            76
Tottenham Hotspur           76
Brighton and Hove Albion    76
Crystal Palace              76
West Ham United             76
Liverpool                   76
Southampton                 76
Leicester City              76
Manchester City             76
Brentford                   38
West Bromwich Albion        38
Fulham                      38
Sheffield United            38
Norwich City                38
Watford                     38
Name: team, dtype: int64

In [13]:
#As expected, with 6 teams having half from the other 23 due to relegationa nd promotion
#Meaning no teams matches are missing

In [15]:
matches.dtypes

date             object
time             object
comp             object
round            object
day              object
venue            object
result           object
gf                int64
ga                int64
opponent         object
xg              float64
xga             float64
poss            float64
attendance      float64
captain          object
formation        object
referee          object
match report     object
notes           float64
sh              float64
sot             float64
dist            float64
fk              float64
pk              float64
pkatt           float64
season            int64
team             object
dtype: object

In [16]:
matches["date"] = pd.to_datetime(matches["date"])

In [17]:
matches.dtypes

date            datetime64[ns]
time                    object
comp                    object
round                   object
day                     object
venue                   object
result                  object
gf                       int64
ga                       int64
opponent                object
xg                     float64
xga                    float64
poss                   float64
attendance             float64
captain                 object
formation               object
referee                 object
match report            object
notes                  float64
sh                     float64
sot                    float64
dist                   float64
fk                     float64
pk                     float64
pkatt                  float64
season                   int64
team                    object
dtype: object

In [18]:
del matches["comp"]

In [19]:
del matches["notes"]

In [20]:
matches["venue_code"] = matches["venue"].astype("category").cat.codes

In [21]:
matches["opp_code"] = matches["opponent"].astype("category").cat.codes

In [22]:
matches["hour"] = matches["time"].str.replace(":.+", "", regex=True).astype("int")

In [23]:
matches["day_code"] = matches["date"].dt.dayofweek

In [24]:
matches["target"] = (matches["result"] == "W").astype("int")

In [25]:
matches

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,fk,pk,pkatt,season,team,venue_code,opp_code,hour,day_code,target
1,2021-08-15,16:30,Matchweek 1,Sun,Away,L,0,1,Tottenham,1.9,...,1.0,0.0,0.0,2022,Manchester City,0,18,16,6,0
2,2021-08-21,15:00,Matchweek 2,Sat,Home,W,5,0,Norwich City,2.7,...,1.0,0.0,0.0,2022,Manchester City,1,15,15,5,1
3,2021-08-28,12:30,Matchweek 3,Sat,Home,W,5,0,Arsenal,3.8,...,0.0,0.0,0.0,2022,Manchester City,1,0,12,5,1
4,2021-09-11,15:00,Matchweek 4,Sat,Away,W,1,0,Leicester City,2.9,...,0.0,0.0,0.0,2022,Manchester City,0,10,15,5,1
6,2021-09-18,15:00,Matchweek 5,Sat,Home,D,0,0,Southampton,1.1,...,1.0,0.0,0.0,2022,Manchester City,1,17,15,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,2021-05-02,19:15,Matchweek 34,Sun,Away,L,0,4,Tottenham,0.5,...,0.0,0.0,0.0,2021,Sheffield United,0,18,19,6,0
39,2021-05-08,15:00,Matchweek 35,Sat,Home,L,0,2,Crystal Palace,0.7,...,1.0,0.0,0.0,2021,Sheffield United,1,6,15,5,0
40,2021-05-16,19:00,Matchweek 36,Sun,Away,W,1,0,Everton,1.6,...,0.0,0.0,0.0,2021,Sheffield United,0,7,19,6,1
41,2021-05-19,18:00,Matchweek 37,Wed,Away,L,0,1,Newcastle Utd,0.8,...,1.0,0.0,0.0,2021,Sheffield United,0,14,18,2,0
42,2021-05-23,16:00,Matchweek 38,Sun,Home,W,1,0,Burnley,0.6,...,0.0,0.0,0.0,2021,Sheffield United,1,4,16,6,1

In [27]:
matches.to_csv("matches_clean.csv")

# Initial Model

In [28]:
from sklearn.ensemble import RandomForestClassifier

In [29]:
rf = RandomForestClassifier(n_estimators=50, min_samples_split=10, random_state=1)

In [30]:
train = matches[matches["date"] < '2022-01-01']

In [31]:
test = matches[matches["date"] > '2022-01-01']

In [32]:
predictors = ["venue_code", "opp_code", "hour", "day_code"]

In [33]:
rf.fit(train[predictors], train["target"])

RandomForestClassifier(min_samples_split=10, n_estimators=50, random_state=1)

In [34]:
preds = rf.predict(test[predictors])

In [35]:
from sklearn.metrics import accuracy_score

In [36]:
error = accuracy_score(test["target"], preds)

In [37]:
error

0.6056701030927835

In [38]:
combined = pd.DataFrame(dict(actual=test["target"], predicted=preds))

In [39]:
pd.crosstab(index=combined["actual"], columns=combined["predicted"])

predicted    0   1
actual
0          186  47
1          106  49

In [40]:
from sklearn.metrics import precision_score

precision_score(test["target"], preds)

0.5104166666666666

In [41]:
grouped_matches = matches.groupby("team")

In [42]:
group = grouped_matches.get_group("Manchester City").sort_values("date")

## Improving Model with Rolling Averages

In [43]:
def rolling_averages(group, cols, new_cols):
    group = group.sort_values("date")
    rolling_stats = group[cols].rolling(3, closed='left').mean()
    group[new_cols] = rolling_stats
    group = group.dropna(subset=new_cols)
    return group

In [44]:
cols = ["gf", "ga", "sh", "sot", "dist", "fk", "pk", "pkatt"]
new_cols = [f"{c}_rolling" for c in cols]

rolling_averages(group, cols, new_cols)

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,day_code,target,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
5,2020-10-17,17:30,Matchweek 5,Sat,Home,W,1,0,Arsenal,1.5,...,5,1,2.000000,2.333333,17.333333,4.666667,18.900000,1.333333,0.333333,0.333333
7,2020-10-24,12:30,Matchweek 6,Sat,Away,D,1,1,West Ham,1.1,...,5,0,1.333333,2.000000,17.333333,3.666667,17.733333,0.666667,0.000000,0.000000
9,2020-10-31,12:30,Matchweek 7,Sat,Away,W,1,0,Sheffield Utd,1.5,...,5,1,1.000000,0.666667,16.666667,4.333333,18.233333,0.666667,0.000000,0.000000
11,2020-11-08,16:30,Matchweek 8,Sun,Home,D,1,1,Liverpool,1.6,...,6,0,1.000000,0.333333,14.333333,6.666667,18.466667,1.000000,0.000000,0.000000
12,2020-11-21,17:30,Matchweek 9,Sat,Away,L,0,2,Tottenham,1.3,...,5,0,1.000000,0.666667,12.000000,5.666667,19.366667,1.000000,0.000000,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,2022-04-30,17:30,Matchweek 35,Sat,Away,W,4,0,Leeds United,2.7,...,5,1,3.333333,1.000000,16.000000,5.333333,16.700000,0.333333,0.333333,0.333333
54,2022-05-08,16:30,Matchweek 36,Sun,Home,W,5,0,Newcastle Utd,3.1,...,6,1,4.000000,0.333333,18.666667,6.000000,16.333333,0.000000,0.333333,0.333333
55,2022-05-11,20:15,Matchweek 33,Wed,Away,W,5,1,Wolves,3.1,...,2,1,4.666667,0.333333,20.000000,7.333333,15.166667,0.333333,0.333333,0.333333
56,2022-05-15,14:00,Matchweek 37,Sun,Away,D,2,2,West Ham,2.5,...,6,0,4.666667,0.333333,18.333333,6.666667,14.933333,0.333333,0.000000,0.000000
57,2022-05-22,16:00,Matchweek 38,Sun,Home,W,3,2,Aston Villa,2.9,...,6,1,4.000000,1.000000,22.000000,7.000000,15.700000,1.000000,0.000000,0.333333

In [45]:
matches_rolling = matches.groupby("team").apply(lambda x: rolling_averages(x, cols, new_cols))

In [46]:
matches_rolling

                                 date   time         round  day venue result  \
team
Arsenal                 6  2020-10-04  14:00   Matchweek 4  Sun  Home      W
                        7  2020-10-17  17:30   Matchweek 5  Sat  Away      L
                        9  2020-10-25  19:15   Matchweek 6  Sun  Home      L
                        11 2020-11-01  16:30   Matchweek 7  Sun  Away      W
                        13 2020-11-08  19:15   Matchweek 8  Sun  Home      L
...                               ...    ...           ...  ...   ...    ...
Wolverhampton Wanderers 37 2022-04-30  15:00  Matchweek 35  Sat  Home      L
                        38 2022-05-07  15:00  Matchweek 36  Sat  Away      D
                        39 2022-05-11  20:15  Matchweek 33  Wed  Home      L
                        40 2022-05-15  14:00  Matchweek 37  Sun  Home      D
                        41 2022-05-22  16:00  Matchweek 38  Sun  Away      L

                            gf  ga         opponent   xg  ...  day_code  \
team                                                      ...
Arsenal                 6    2   1    Sheffield Utd  0.4  ...         6
                        7    0   1  Manchester City  0.9  ...         5
                        9    0   1   Leicester City  0.9  ...         6
                        11   1   0   Manchester Utd  1.1  ...         6
                        13   0   3      Aston Villa  1.5  ...         6
...                         ..  ..              ...  ...  ...       ...
Wolverhampton Wanderers 37   0   3         Brighton  0.6  ...         5
                        38   2   2          Chelsea  2.1  ...         5
                        39   1   5  Manchester City  0.5  ...         2
                        40   1   1     Norwich City  0.9  ...         6
                        41   1   3        Liverpool  1.1  ...         6

                            target  gf_rolling ga_rolling sh_rolling  \
team
Arsenal                 6        1    2.000000   1.333333   7.666667
                        7        0    1.666667   1.666667   5.333333
                        9        0    1.000000   1.666667   7.000000
                        11       1    0.666667   1.000000   9.666667
                        13       0    0.333333   0.666667   9.666667
...                            ...         ...        ...        ...
Wolverhampton Wanderers 37       0    0.666667   1.000000   8.666667
                        38       0    0.000000   1.666667   8.666667
                        39       0    0.666667   2.000000  11.666667
                        40       0    1.000000   3.333333  10.666667
                        41       0    1.333333   2.666667  12.666667

                           sot_rolling dist_rolling  fk_rolling  pk_rolling  \
team
Arsenal                 6     3.666667    14.733333    0.666667    0.000000
                        7     3.666667    15.766667    0.000000    0.000000
                        9     3.666667    16.733333    0.666667    0.000000
                        11    4.000000    16.033333    1.000000    0.000000
                        13    2.666667    18.033333    1.000000    0.333333
...                                ...          ...         ...         ...
Wolverhampton Wanderers 37    3.333333    16.966667    0.000000    0.000000
                        38    2.333333    18.233333    0.333333    0.000000
                        39    3.000000    17.133333    0.333333    0.000000
                        40    2.666667    16.400000    0.333333    0.000000
                        41    3.666667    17.033333    0.666667    0.000000

                            pkatt_rolling
team
Arsenal                 6        0.000000
                        7        0.000000
                        9        0.000000
                        11       0.000000
                        13       0.333333
...                                   ...
Wolverhampton Wanderers 37       0.000000
                        38       0.000000
                        39       0.000000
                        40       0.000000
                        41       0.000000

[1448 rows x 38 columns]

In [47]:
matches_rolling = matches_rolling.droplevel('team')

In [48]:
matches_rolling

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,day_code,target,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
6,2020-10-04,14:00,Matchweek 4,Sun,Home,W,2,1,Sheffield Utd,0.4,...,6,1,2.000000,1.333333,7.666667,3.666667,14.733333,0.666667,0.000000,0.000000
7,2020-10-17,17:30,Matchweek 5,Sat,Away,L,0,1,Manchester City,0.9,...,5,0,1.666667,1.666667,5.333333,3.666667,15.766667,0.000000,0.000000,0.000000
9,2020-10-25,19:15,Matchweek 6,Sun,Home,L,0,1,Leicester City,0.9,...,6,0,1.000000,1.666667,7.000000,3.666667,16.733333,0.666667,0.000000,0.000000
11,2020-11-01,16:30,Matchweek 7,Sun,Away,W,1,0,Manchester Utd,1.1,...,6,1,0.666667,1.000000,9.666667,4.000000,16.033333,1.000000,0.000000,0.000000
13,2020-11-08,19:15,Matchweek 8,Sun,Home,L,0,3,Aston Villa,1.5,...,6,0,0.333333,0.666667,9.666667,2.666667,18.033333,1.000000,0.333333,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37,2022-04-30,15:00,Matchweek 35,Sat,Home,L,0,3,Brighton,0.6,...,5,0,0.666667,1.000000,8.666667,3.333333,16.966667,0.000000,0.000000,0.000000
38,2022-05-07,15:00,Matchweek 36,Sat,Away,D,2,2,Chelsea,2.1,...,5,0,0.000000,1.666667,8.666667,2.333333,18.233333,0.333333,0.000000,0.000000
39,2022-05-11,20:15,Matchweek 33,Wed,Home,L,1,5,Manchester City,0.5,...,2,0,0.666667,2.000000,11.666667,3.000000,17.133333,0.333333,0.000000,0.000000
40,2022-05-15,14:00,Matchweek 37,Sun,Home,D,1,1,Norwich City,0.9,...,6,0,1.000000,3.333333,10.666667,2.666667,16.400000,0.333333,0.000000,0.000000
41,2022-05-22,16:00,Matchweek 38,Sun,Away,L,1,3,Liverpool,1.1,...,6,0,1.333333,2.666667,12.666667,3.666667,17.033333,0.666667,0.000000,0.000000

In [49]:
matches_rolling.index = range(matches_rolling.shape[0])

## Retraining Model

In [50]:
def make_predictions(data, predictors):
    train = data[data["date"] < '2022-01-01']
    test = data[data["date"] > '2022-01-01']
    rf.fit(train[predictors], train["target"])
    preds = rf.predict(test[predictors])
    combined = pd.DataFrame(dict(actual=test["target"], predicted=preds), index=test.index)
    error = precision_score(test["target"], preds)
    return combined, error

In [51]:
combined, error = make_predictions(matches_rolling, predictors + new_cols)

In [52]:
error

0.6027397260273972

In [53]:
combined = combined.merge(matches_rolling[["date", "team", "opponent", "result"]], left_index=True, right_index=True)

In [54]:
combined.head(10)

    actual  predicted       date     team        opponent result
55       0          0 2022-01-23  Arsenal         Burnley      D
56       1          1 2022-02-10  Arsenal          Wolves      W
57       1          0 2022-02-19  Arsenal       Brentford      W
58       1          1 2022-02-24  Arsenal          Wolves      W
59       1          1 2022-03-06  Arsenal         Watford      W
60       1          1 2022-03-13  Arsenal  Leicester City      W
61       0          0 2022-03-16  Arsenal       Liverpool      L
62       1          0 2022-03-19  Arsenal     Aston Villa      W
63       0          0 2022-04-04  Arsenal  Crystal Palace      L
64       0          0 2022-04-09  Arsenal        Brighton      L

## Combining Home and Away Predictions

In [55]:
class MissingDict(dict):
    __missing__ = lambda self, key: key

map_values = {"Brighton and Hove Albion": "Brighton", "Manchester United": "Manchester Utd", "Newcastle United": "Newcastle Utd", "Tottenham Hotspur": "Tottenham", "West Ham United": "West Ham", "Wolverhampton Wanderers": "Wolves"} 
mapping = MissingDict(**map_values)

In [56]:
combined["new_team"] = combined["team"].map(mapping)

In [57]:
merged = combined.merge(combined, left_on=["date", "new_team"], right_on=["date", "opponent"])

In [58]:
merged

,actual_x,predicted_x,date,team_x,opponent_x,result_x,new_team_x,actual_y,predicted_y,team_y,opponent_y,result_y,new_team_y
0,0,0,2022-01-23,Arsenal,Burnley,D,Arsenal,0,0,Burnley,Arsenal,D,Burnley
1,1,1,2022-02-10,Arsenal,Wolves,W,Arsenal,0,0,Wolverhampton Wanderers,Arsenal,L,Wolves
2,1,0,2022-02-19,Arsenal,Brentford,W,Arsenal,0,0,Brentford,Arsenal,L,Brentford
3,1,1,2022-02-24,Arsenal,Wolves,W,Arsenal,0,0,Wolverhampton Wanderers,Arsenal,L,Wolves
4,1,1,2022-03-06,Arsenal,Watford,W,Arsenal,0,0,Watford,Arsenal,L,Watford
...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,0,0,2022-04-30,Wolverhampton Wanderers,Brighton,L,Wolves,1,0,Brighton and Hove Albion,Wolves,W,Brighton
384,0,0,2022-05-07,Wolverhampton Wanderers,Chelsea,D,Wolves,0,0,Chelsea,Wolves,D,Chelsea
385,0,0,2022-05-11,Wolverhampton Wanderers,Manchester City,L,Wolves,1,1,Manchester City,Wolves,W,Manchester City
386,0,0,2022-05-15,Wolverhampton Wanderers,Norwich City,D,Wolves,0,0,Norwich City,Wolves,D,Norwich City
387,0,0,2022-05-22,Wolverhampton Wanderers,Liverpool,L,Wolves,1,0,Liverpool,Wolves,W,Liverpool

In [59]:
merged[(merged["predicted_x"] == 1) & (merged["predicted_y"] ==0)]["actual_x"].value_counts()

1    43
0    28
Name: actual_x, dtype: int64

In [61]:
28/43

0.6511627906976745

In [ ]:
#65.11% Precision 
#The nature of sports, especially football make predicting the outcome of matches difficult

#A few ideas to improve the precision:
#Scraping data to use more seasons would help improve the accuracy of the predictions
#Using more predictors could also have an effect on the precision - such as managers, referees, additional matches outside the league, potentially a metric for home atmosphere
#Other models could be used, for example Neural Networks